body{
    height: 150vh;
    padding: 0;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    background: #ffffff;
    font-family: sans-serif;
   
}

h1{
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(86, 155, 184);
}

p{
    margin: 20px;
    font-size: medium;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

h5{
    margin-left: 40px;
    margin-right: 40px;
}

.image{
    margin-left: 40px;
    margin-right: 40px;
    background: #ffffff;
}

.content{
    border: 1px ridge gray;
    height: 150vh;
    padding: 20px;
    width: 800px;
    margin-left: 300px;
    margin-right: 300px;
}

.comment-box{
    border: 1px ridge gray;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2{
    border-bottom: 1px ridge gray;
    margin: 30px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
}

input{
    margin: 20px;
    margin-left: 30px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
}


.recentpost li{
    list-style: none;
    display: inline;
    text-align: center;
    margin: 20px;
    
}

h3{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin: 20px;
}

h4{
    float: right;
    height: 632px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-top: -39px;
    margin-right: 29px;
    text-decoration: none;
}

h4 a:hover{
    color: aquamarine;
    text-decoration: none;
   
}

h4 a:link{
    text-decoration: none;
}

.contentbox2{
    background-color: rgb(255, 255, 255);
    width: 850px;
    margin-left: 300px;
    margin-right: 300px;
}