body {
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #f7f9f9;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-left: 30px;
}
#menu img{
    width: 2em;
    margin-right: 0.5em;
}

#menu ul{
    margin-right: 75px;
}

#menu ul li{
    list-style: none;
    display: inline;
}

#menu ul li a{
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-transform: lowercase;
    text-decoration: none;
    background-color: inherit;
    padding: 20px 20px;
    line-height: 80px;
    color: rgb(51, 90, 79);
    transition: color 0.5s linear;
}

#menu ul li a:hover{
    color: aquamarine;
}

#content{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10em;
}

.text{
    margin-top: 120px;
    font-family: Helvetica;
    position: relative;
    width: 40%;
}

.image{
    position: relative;
    width: 40%;
}

.image img {
    position: absolute;
    width: 180%;
    height: 462px;
    top: 20px;
    mix-blend-mode: multiply;
}

.text h1{
    color: rgb(89, 206, 206);
    font-family: cursive;
    font-size: 60px;
    line-height: 1.3em;
}

.text p{
    color: rgba(141, 141, 141, 0.978);
    font-size: 20px;
    line-height: 2em;
}
div#main\ wrapper {
    width: 96%;
}
.logo-container {
    display: flex;
    align-items: center;
    font-size: 23px;
    color: #5a8690;
}

/* end of the logo and menus*/



h1 {
    margin: auto;
    font-size: 31px;
    line-height: 1.2;
    letter-spacing: -.1rem;
    text-align: center;
    font-family: sans-serif;
    color: rgba(141, 141, 141, 0.978);
    display: block;
    border: black;
    border: solid;
    height: 80px;
    padding: 10px;
    background-color: aliceblue;
    border-color: rgb(146, 238, 254);
    padding-top: 40px;
}
/*
.box1{
    background-color:red;
    width:100%;
    float: top;
    height: 20%;
    border: ridge;

}
*/

.box2{
    background-color:#f7f9f9;
    display: grid;
}






a.picture:hover{
    transform: scale(1.02);
    transition: all;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(116, 199, 177);
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
  
.column {
    background: rgb(194, 228, 240);
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 45vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.column .picture {
    background: #f7f9f9;
    flex: 1;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.column + .column {
    margin-left: 2em;
}
.column .title {
    font-size: x-large;
    background: rgb(87 152 183);
    color: rgb(235, 235, 235);
    text-align: center;
}

.p-content {
    color: #5e5e5e;
    padding: 10px;
    font-family: sans-serif;
}
