body {
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #f7f9f9;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-left: 30px;
}
#menu img{
    width: 2em;
    margin-right: 0.5em;
    cursor: pointer;
}

#menu ul{
    margin-right: 75px;
}

#menu ul li{
    list-style: none;
    display: inline;
}

#menu ul li a{
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-transform: lowercase;
    text-decoration: none;
    background-color: inherit;
    padding: 20px 20px;
    line-height: 80px;
    color: rgb(51, 90, 79);
    transition: color 0.5s linear;
}

#menu ul li a:hover{
    color: aquamarine;
}

#content{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10em;
}

.text{
    margin-top: 120px;
    font-family: Helvetica;
    position: relative;
    width: 40%;
}

.image{
    position: relative;
    width: 40%;
}

.image img {
    position: absolute;
    width: 180%;
    height: 462px;
    top: 20px;
    mix-blend-mode: multiply;
}

.text h1{
    color: rgb(89, 206, 206);
    font-family: cursive;
    font-size: 60px;
    line-height: 1.3em;
}

.text p{
    color: rgba(141, 141, 141, 0.978);
    font-size: 20px;
    line-height: 2em;
}
div#main\ wrapper {
    width: 96%;
}
.logo-container {
    display: flex;
    align-items: center;
    font-size: 23px;
    color: #5a8690;
}



.filter1{
    background-color: #efefef;
    width:14.50%;
    float: left;
    height: 140%;
    border: ridge;

}

.filter2{
    background-color: #efefef;
    width:85%;
    float: right;
    border-top: ridge;
    /*
    border: 1px solid black;
    overflow-y:scroll;
    overflow-x:scroll;
    */

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
.row > .row{
  flex-grow: 1;
  width: 33%;
  height: 100px;
}
  
.column {
    display: none;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 25%;
    padding: 5px;
  }

.column img {
    float: left;
    width:  100px;
    height: 250px;
    background-size: cover;
}


.category{
    color: rgb(81, 81, 81);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: large;
    padding: 10px;
    display: grid;
    grid-gap:10px;
    margin-left: 20px;
   
    
}
.category h1{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 25px;
    display: grid;
    margin-left: 20px;
  
}

.header1 h1{
    color: rgb(76, 76, 76);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 35px;
  
   
}

.main-h1{
    color: rgb(76, 76, 76);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: ridge;
    border-width: 2px;
 
    
   
}

input[type=text] {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

ul.checkbox  { 
    margin: 0; 
    padding: 0; 
    margin-left: 20px; 
    list-style: none; 
} 
  
ul.checkbox li input { 
    margin-right: .25em; 
} 
  
ul.checkbox li { 
    border: 1px transparent solid; 
 } 
  
 ul.checkbox li label { 
    margin-left: 1px; 
  } 
ul.checkbox li:hover, 
ul.checkbox li.focus  { 
    background-color: lightyellow; 
    border: 1px gray solid; 
    width: 12em; 
  } 





.container {
    overflow: hidden;
  }
  
.show {
    display: block;
  }
  
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
.btn:hover {
    background-color:  rgb(133, 218, 189);
  }
  
.btn.active {
    background-color:  rgb(133, 218, 189);
     color: white;
  }

.header1 h1 a:link {
    text-decoration: none;
  }

#myBtnContainer {
    margin-left: 35px;
  }


p{
    font-family: sans-serif;
    font-size: 15px;
    color: red;
    text-align: center;
    border: 1px solid #d56297;
    width: 493px;
    background-color: lightpink;
}