body {
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #f7f9f9;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-left: 30px;
}
#menu img{
    width: 2em;
    margin-right: 0.5em;
}

#menu ul{
    margin-right: 75px;
}

#menu ul li{
    list-style: none;
    display: inline;
}

#menu ul li a{
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-transform: lowercase;
    text-decoration: none;
    background-color: inherit;
    padding: 20px 20px;
    line-height: 80px;
    color: rgb(51, 90, 79);
    transition: color 0.5s linear;
}

#menu ul li a:hover{
    color: aquamarine;
}

#content{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10em;
}

.text{
    margin-top: 120px;
    font-family: Helvetica;
    position: relative;
    width: 40%;
}

.image{
    position: relative;
    width: 40%;
}

.image img {
    position: absolute;
    width: 180%;
    height: 462px;
    top: 20px;
    mix-blend-mode: multiply;
}

.text h1{
    color: rgb(89, 206, 206);
    font-family: cursive;
    font-size: 60px;
    line-height: 1.3em;
}

.text p{
    color: rgba(141, 141, 141, 0.978);
    font-size: 20px;
    line-height: 2em;
}
div#main\ wrapper {
    width: 96%;
}
.logo-container {
    display: flex;
    align-items: center;
    font-size: 23px;
    color: #5a8690;
}



h1 {
    margin: auto;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -.1rem;
    text-align: center;
    font-family: sans-serif;
    color: rgba(114, 114, 114, 0.978);
    display: block;
    border: black;
    border: solid;
    height: 80px;
    padding: 10px;
    background-color: aliceblue;
    border-color: rgb(146, 238, 254);
    padding-top: 40px;
}
/*
.box1{
    background-color:red;
    width:100%;
    float: top;
    height: 20%;
    border: ridge;

}
*/

p{
    margin: 20px;
    font-size: medium;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

h5{
    margin-left: 40px;
    margin-right: 40px;
}

.image{
    margin-left: 40px;
    margin-right: 40px;
    background: #ffffff;
    width: 200px;
    height: 300px;
}

.content{
    border: 1px ridge gray;
    height: 380vh;
    padding: 50px;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #ffffff;
}

.comment-box{
    border: 1px ridge gray;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2{
    border-bottom: 1px ridge gray;
    margin: 30px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
}

input{
    margin: 20px;
    margin-left: 30px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.foo {
    font-size: 20px;
    font-weight:bold;
    color: rgb(81, 115, 152);
}